<div id="container">
  <div id="maincontent">
		<div id="header">
		  <div id="header-inner"></div>
		</div>
    <div class="head-area">
		  <div class="head-content">
				<h2 class="store-name">TABATA</h2>
				<p class="store-data">
					京都府南丹市<br>
					xxx-xxxx-xxx
				</p>
			</div>
		</div>

		<div class="component">
			<div class="sticky-wrap">
				<table class="sticky-enabled" style="margin: 0px;">
					<thead>
						<tr>
							<th rowspan="2" style="width: 71px;">日時</th>
							<th colspan="7" style="width: 608px;">
								<div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
									<%= paginate @month, window: 0, outer_window: 0 %>
								</div>
							</th>
						</tr>
						<tr>
							<% @month.each do |day| %>
								<th>
									<%= l(day, format: :cell_date) %><br>
									<%= l(day, format: :cell_day) %>
								</th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="w-10">
								<table cellpadding="0" cellspacing="0" class="moreInnerTable timeTableLeft">
									<tbody>
										<% @times.each do |time| %>
											<tr>
												<th class="timeCell timeSharpLine" style="background: white;"><%= l( time, format: :very_short) %></th>
											</tr>
										<% end %>
									</tbody>
								</table>
							</th>
							<% @month.each do |day| %>
								<% ok_term = StaffsScheduleOutputer.valid_shifts(@staffs, day.all_day) %>
								<% not_term = StaffsScheduleOutputer.invalid_schedules(@staffs, day.all_day, @interval_time) %>
								<th class="closeCol w-10">
									<table cellpadding="0" cellspacing="0" class="moreInnerTable">
										<tbody>
											<% @times.each do |time| %>
												<% start_time = DateTime.parse(time(day, time)) %>
												<% end_time = start_time.since((@task_course.course_time+@interval_time).minutes) %>
												<% if @regular_holiday_days.include?(@dw[day.wday]) %>
													<tr>
														<th class="timeCell timeSharpLine text-center times_style">
															<i class="fas fa-times"></i>
														</th>
													</tr>
												<% elsif @iregular_holydays.include?(day) %>
													<tr>
														<th class="timeCell timeSharpLine text-center times_style">
															<i class="fas fa-times"></i>
														</th>
													</tr>
												<% elsif valid_time?(@display_time, start_time) == false %>
													<tr>
														<th class="timeCell timeSharpLine text-center times_style">
															<i class="fas fa-times"></i>
														</th>
													</tr>
												<% elsif valid_schedule?(ok_term, not_term, @staffs_google_tasks, start_time, end_time) == true %>
													<tr>
														<th class="timeCell timeSharpLine text-center circle_style link_div" data-href="<%= new_calendar_task_path(@calendar, start_time: time(Time.zone.parse("#{day}"), time), course_id: @task_course.id, staff_id: params[:staff_id]) %>">
															<i class="far fa-circle"></i>
														</th>
													</tr>
												<% else %>
													<tr>
														<th class="timeCell timeSharpLine text-center times_style">
															<i class="fas fa-times"></i>
														</th>
													</tr>
												<% end %>
											<% end %>
										</tbody>
									</table>
								</th>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
