<div id="container">
  <div id="maincontent">
		<div id="header">
		  <div id="header-inner"></div>
		</div>
		<div class="wrapper list-page">
			<div class="list-header list-header-with-cover">
				<div class="list-cover">
					<img class="list-cover-image" src="">
				</div>
				<div class="module-user-masthead-wrapper">
					<section class="module-user-masthead module module2" id="masthead">
					<section class="user-masthead-primary-information">
					<div class="user-masthead-title-wrapper">
						<h1 class="user-masthead-title" itemprop="name"><a href="/b2qtw9/web/">TABATA</a></h1>
						<aside>
							<p class="user-info-total-items user-info-coveradress">
							  京都府南丹市
								<a href="tel:0593820025" onclick="return confirm('電話をかけます。よろしいですか？')" class="user-info-total-items-link">XXX-XXX-XXXX</a>
							</p>
						</aside>
					</div><!-- user-masthead-title-wrapper -->
					</section>
					</section>
				</div><!-- module-user-masthead-wrapper -->
			</div><!-- list-header -->
		</div>

		<div class="component">
			<div class="sticky-wrap">
				<table class="sticky-enabled" style="margin: 0px;">
					<thead>
							<tr>
								<th rowspan="2" style="width: 71px;">日時</th>
								<th colspan="7" style="width: 608px;">
									<div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
										<%= paginate @month, window: 0, outer_window: 0 %>
									</div>
								</th>
							</tr>
							<tr>
								<% @month.each do |day| %>
									<th>
										<%= l(day, format: :cell_date) %><br>
										<%= l(day, format: :cell_day) %>
									</th>
								<% end %>
							</tr>
						</thead>
					<tbody>
						<tr>
							<td class="time">
								<table>
									<tbody>
										<% @times.each do |time| %>
											<tr>
												<td><%= l( time, format: :very_short) %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</td>
							<% @month.each do |day| %>
								<% ok_term = StaffsScheduleOutputer.valid_shifts(@staffs, day.all_day) %>
								<!--  not_term = StaffsScheduleOutputer.invalid_schedules(@staffs, day.all_day, @interval_time)  -->
								<th>
									<table>
										<tbody>
											<% @times.each do |time| %>
												<tr>
													<td class="reserveDate maru">
														<a href="javascript:void(0);" class="reserveDate maru">◎</a>
													</td>
												</tr>
											<% end %>
										<tbody>
									</table>
								</th>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
