<h2>予約フォーム</h2>

<div class="container">
  <div class="row">
		<div id="reserve-calendar">
				<div id="jsRsvCdTbl" class="reserveConditionTable  jscInnerTableWrap">
						<table class="table table-bordered" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th rowspan="2" class="weekPaging"></th>
									<th colspan="14" class="monthCell text-center">
										<div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
											<%= paginate @month, window: 0, outer_window: 0 %>
										</div>
									</th>
								</tr>
								<tr class="dayCellContainer">
									<% @month.each do |day| %>
										<th class="dayCell">
											<%= l(day, format: :cell_date) %><br>
											<%= l(day, format: :cell_day) %>
										</th>
									<% end %>
								</tr>
							</thead>
							<tbody>
                <tr>
									<% @times.each do |time| %>
										<tr>
											<th class="timeCell timeSharpLine"><%= l( time, format: :very_short) %></th>
										</tr>
									<% end %>
                  <% @month.each do |day| %>
									<% end %>
								</tr>
							<tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->