<div class="component">
	<div class="sticky-wrap">
	  <table class="sticky-enabled" style="margin: 0px;">
			<thead>
					<tr>
						<th rowspan="2" style="width: 71px;">日時</th>
						<th colspan="7" style="width: 608px;">
						  <div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
								<%= paginate @month, window: 0, outer_window: 0 %>
							</div>
						</th>
					</tr>
					<tr>

						  <% @month.each do |day| %>
									<th><%= l(day, format: :cell_date) %><br></th>
							<% end %>

					</tr>
				</thead>
			<tbody>
				<tr>
					<td>
						<table>
							<tbody>
								<% @times.each do |time| %>
									<tr>
										<th><%= l( time, format: :very_short) %></th>
                    <th><%= l(day, format: :cell_day) %></th>
									</tr>
								<% end %>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
