<div class="component">
	<div class="sticky-wrap">
	  <table class="sticky-enabled" style="margin: 0px;">
			<thead>
					<tr>
						<th rowspan="2" style="width: 71px;">日時</th>
						<th colspan="7" style="width: 608px;">
						  <div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
								<%= paginate @month, window: 0, outer_window: 0 %>
							</div>
						</th>
					</tr>
					<tr>
						<th style="width: 85px;" class="sat">
						  <% @month.each do |day| %>
									<%= l(day, format: :cell_date) %><br>
									<%= l(day, format: :cell_day) %>

							<% end %>
						</th>
					</tr>
				</thead>
			<tbody>
				<tr>
					<td>
						<table>
							<tbody>
								<% @times.each do |time| %>
									<tr>
										<td><%= l( time, format: :very_short) %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
