<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="FXpzPpHGDRqmupmcC64f40VBjdgwxqG_zcPZHRM0dY0" />
    <title>Smart予約</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render template: "layouts/application" %>z
    <%= debug(params) if Rails.env.development? %>
    <script>
      document.addEventListener("turbolinks:load", function () {
    $(function () {
      function post() {
        $(".news-btn, .popup-bg").on("click", function () {
          $(".popup-post").toggleClass("postActive");
          $(".popup-bg").toggleClass("postActive");
        });
      }
      post();
    });
  });
    </script>
  </body>
</html>
