<%= render 'layouts/header' %>

<div class="containar">
  <%= link_to "スタッフ新規登録", new_user_calendar_staff_path(current_user, @calendar), class:"btn btn-primary", remote: true %>
  <div id="staff_new_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>名前</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @staffs.each do |staff| %>
              <tr>
                <th scope="row"><%= staff.id %></th>
                <td><%= staff.name %></td>
                <td>
                  <%= link_to "編集", edit_user_calendar_staff_path(current_user, @calendar, staff), class:"btn btn-success" %>
                  <%= link_to "シフト設定", calendar_staff_staff_shifts_path(@calendar, staff), class:"btn btn-info" %>
                  <%= link_to "削除", user_calendar_staff_path(current_user, @calendar, staff), class:"btn btn-danger", data: { confirm: '削除しますか？' }, method: :delete %>
                </td>
                <div id="staff<%= staff.id %>_edit_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style>
.containar {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

</style>
