<div id="container">
  <div id="maincontent">
		<div id="header">
		  <div id="header-inner"></div>
		</div>
    <div class="head-area">
		  <div class="head-content">
				<h2 class="store-name">TABATA</h2>
				<p class="store-data">
					京都府南丹市<br>
					090-xxxx-xxxx
				</p>
			</div>
		</div>

		<div class="component">
			<div class="sticky-wrap">
				<table class="sticky-enabled" style="margin: 0px;">
					<thead>
						<tr>
							<th rowspan="2" style="width: 71px;">日時</th>
							<th colspan="7" style="width: 608px;">
								<div style="display: inline-table; text-align: center; <%= 'font-size: smaller;' if browser.device.mobile? %>">
									<%= paginate @month, window: 0, outer_window: 0 %>
								</div>
							</th>
						</tr>
						<tr>
							<% @month.each do |day| %>
								<th>
									<%= l(day, format: :cell_date) %><br>
									<%= l(day, format: :cell_day) %>
								</th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="time">
								<table>
									<tbody>
										<% @times.each do |time| %>
											<tr>
												<td><%= l( time, format: :very_short) %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</td>
							<% @month.each do |day| %>
								<% ok_term = StaffsScheduleOutputer.valid_shifts(@staffs, day.all_day) %>
								<% not_term = StaffsScheduleOutputer.invalid_schedules(@staffs, day.all_day, @interval_time) %>
								<th>
									<table>
										<tbody>
                    <% @times.each do |time| %>
                        <!-- time = 間隔 -->
												<!-- day = 表示期間 -->
												<!-- start_time  = 作業開始時間 -->
												<!-- end_time  = 作業終了時間 + 次の作業準備時間(余韻) -->
												<% start_time = DateTime.parse(time(day, time)) %>
												<% end_time = start_time.since((@task_course.course_time+@interval_time).minutes) %>
												  <!-- 定休日なら「-」 -->
													<% if @regular_holiday_days.include?(@dw[day.wday]) %>
														<tr>
															<td class="holi">
																<a href="javascript:void(0);">-</a>
															</td>
														</tr>
													<!-- 臨時休業日なら「-」 -->
													<% elsif @iregular_holydays.include?(day) %>
														<tr>
															<td class="holi">
																<a href="javascript:void(0);">-</a>
															</td>
														</tr>
													<!-- 予約可能時間ではなかったら「x」 -->
													<% elsif valid_time?(@display_time, start_time) == false %>
														<tr>
															<td class="off">
																<a href="javascript:void(0);">×</a>
															</td>
														</tr>
													<!--  勤務時間内かどうか -->
													<% elsif valid_schedule?(ok_term, not_term, @staffs_google_tasks, start_time, end_time) == true %>
														<tr>
															<td class="off">
																<a href="javascript:void(0);">×</a>
															</td>
														</tr>
													<% else %>
														<tr>
															<td class="reserveDate maru">
																<a href="javascript:void(0);" class="reserveDate maru">◎</a>
															</td>
														</tr>
													<% end %>
											<% end %>
										<tbody>
									</table>
								</th>
							<% end %>
						</tr>
					</tbody>
				</table>

        <div id="content-footer">
          <%= link_to "戻る", root_path, clsss: "f-btn1" %>
        </div>
			</div>
		</div>
	</div>
</div>



<style>
.component {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
</style>